.experienceBar {
  display: flex;
  align-items: center;

  & span {
    font-size: 1rem;
    font-weight: 600;
  }

  & > div {
    flex: 1;
    height: 4px;
    border-radius: 4px;
    background: var(--gray-line);
    margin: 0 1.5rem;
    position: relative;

    & > div {
      height: 4px;
      border-radius: 4px;
      background: var(--green);
    }
  }

  &_currentExperience {
    position: absolute;
    top: 12px;
    transform: translateX(-50%);
    padding: 0.25rem;
    border-radius: 4px;
    background: var(--white);
    color: var(--green);
    font-weight: 600;
  }
}
